.logo h1{
	color: #fff;
	font-size: 46px;
}
.slider-height {
	height: 100vh;
}
.single-sliders {
	padding-top: 60px;
}

.footer-logo h1 {
	font-size: 56px;
	font-weight: 500;
	line-height: 0.5;
}

.navbar-brand {
	font-size: 3rem;
}
.main-logo {
	width: 200px;
}